name: CI - Development

on:
  push:
    branches: [ development ]

jobs:
  dev_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run dev tests
        run: pytest test/test_dev.py -q
