name: CI - Development

on:
  push:
    branches: ["development"]
  pull_request:
    branches: ["development"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run lint
        run: |
          pip install flake8
          flake8 app

      - name: Run tests
        run: |
          pytest -q
