name: Auto Merge PR to Main

on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened]

jobs:
  automerge:
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Enable auto merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
